*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* template */
/*
.grid1{
    grid-area: header;
}
.grid2{
    grid-area: menu;
}
.grid3{
    grid-area:main ;
}
.grid4{
    grid-area: right;
}
.grid5{
    grid-area: footer;
}

.container{
    display:grid;
    grid-template-areas: 'header header header header header header'
                        'menu main main main right right'
                        'menu main main main right right'
                        'footer footer footer footer footer footer';
    background-color: aqua;
    padding: 20px;
    gap: 10px;
}
.container > div{
    background-color: antiquewhite;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;

}
*/

/*Grid template column*/
/*
.container{
    display: grid;
   grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    background-color: aqua;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
}


.container > div{
    background-color: antiquewhite;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    text-align: center;
    font-size: 30px;

}
*/

/*grid lines*/
/*
.container{
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
background-color: #2196F3;
padding: 10px;
}

.container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}

.grid1 {
grid-column-start: 1;
grid-column-end: 3;
}
.grid2{
    grid-row-start: 2;
    grid-row-end: 4;

}
*/

/*Justify-content*/
/*
.container{
    display: grid;
    background-color: aqua;
    gap: 10px;
    grid-template-columns: auto auto auto;
   /* justify-content: center; */
  /* justify-content: start; */
 /*
  justify-content: space-between;
}
.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }

*/




/*align-content*/

/*
.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }


    .container{
        display: grid;
        height: 400px;
        align-content: center;
        grid-template-columns: auto auto auto;
        
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        }
*/

/*grid column property*/
/*
.container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    }


    .container{
        display: grid;
        
        
        grid-template-columns: auto auto auto;
        
        gap: 10px;
        background-color: #2196F3;
        padding: 10px;
        }

    .grid1{
        grid-column: 1/ 3 span;
    }
    .grid2{
        grid-column: 2/4 ;
    }
    .grid3{
        grid-row:3/5 ;
    }

    */
/*grid-area property*/

    .container > div {
        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
        }
    
    
        .container{
            display: grid;
            
            
            grid-template-columns: auto auto auto;
            
            gap: 10px;
            background-color: #2196F3;
            padding: 10px;
            }
    
        .grid1{
            grid-area: 2/2/4/3;/*column line start / row  start/ column end / row end*/
        }
.grid2{
    grid-area: 1/3/span 3/span 3 ;
}

